li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
}

